@model UWAdventure.Entities.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Order successfully completed";
}

<h2>Thank You!</h2>

Thank you for your order.   Your order number is <strong>@Model.OrderNumber</strong>.

